body {
    font-family: Helvetica, sans-serif;
}

main {
    margin: 0 15px;
}

i {
    color: #6B0F1A;
}

a {
    text-decoration: none;
}

.nav-color {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 39px;
    text-transform: uppercase;
    color: #6B0F1A;
}

.sobre {
    background: url(/img/Background.png);
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    color: #ABA194;
}

.botao-sobre {
    background: #6B0F1A;
    border-radius: 4px;
}

.contato {
    background-color: #E5c1bd;
    color: #251613;
    text-align: center;
}

.icone_contato {
    flex-direction: column;
}

.icone_contato a:hover {
    background-color: #6B0F1A;
    color: #E5c1bd
}

.img_container {
    width: 5rem;
    margin-bottom: 10px;
    text-align: center;
    
}

h3{
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    font-weight: bold;
    font-size: 1.4rem;

}

h5{
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.servicos_container {
    text-align: center;
    margin: 1.5rem;
}