body {
    font-family: Helvetica, sans-serif;
}

main {
    margin: 0 15px;
}

i {
    color: #6B0F1A;
}

a {
    text-decoration: none;
}

h3{
    margin-top: 30px;
}

.nav-color {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 39px;
    text-transform: uppercase;
    color: #6B0F1A;
}

.sobre {
    background: url(/img/Background.png);
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    color: #ABA194;
    width: 100%;
    height: 670px;
    background-size: 100% 100%;
    text-align: flex-start;
    
}
.texto-sobre{
    padding-top: 170px;
}

.botao-sobre {
    background: #6B0F1A;
    border-radius: 4px;
    color: #ABA194;
    padding: 5px;
}
.botao-sobre:hover {
    color: #FEFEEE;
    text-decoration: none;
}

.contato {
    background-color: #E5c1bd;
    color: #251613;
    text-align: center;
}

.icone_contato {
    flex-direction: column;
}

.icone_contato a:hover {
    background-color: #6B0F1A;
    color: #E5c1bd
}

.img-instagram{
    max-width: 300px;
    min-width: 150px;
}



.instagram{
    color: #FEFEEE;
    background-color: #010301;
}



.p-instagram{
    color: #FEFEEE;
}
        
footer{
    color: #FEFEEE;
    background-color: #010301;
}