body {
    font-family: Helvetica, sans-serif;
}

i {
    color: #010301;
}

a {
    text-decoration: none !important;
}

h3 {
    font-weight: 600;
    margin: 20px 0 15px;
}

.logo {
    width: 40px;
}

.nav-color {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 39px;
    text-transform: uppercase;
    background-color: #FEFEEE;
    color: #8C1C13;
    
}



.nav-itens:hover {
    
    color: #8C1C13;
    
  
}

.navbar-nav {
    
    justify-content: end;
    margin-right: 0 !important;
    align-items: center;
}

.navbar-collapse {
    justify-content: right !important;
    
}


.sobre {
    background: url(../img/images.jpg);
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    color: #fefeee;
    width: 100%;
    height: 670px;
    background-size: 100% 100%;
    text-align: flex-start;
    
}
.texto-sobre{
    padding-top: 170px;
}

.botao-sobre {
    background: #CC5803;
    border-radius: 8px;
    border-color: #ABA194;
    border-width: 15px;
    color: #010301;
    padding: 7px;
}

.img_carousel {
    object-fit: cover;
    height: 500px;
    object-position: center top;
}



.botao-sobre:hover {
    background-color: #8C1c13;
    border: 2px solid #FEFEEE;
    color: #FEFEEE;
    text-decoration: none;
    background-color: #650e0a;

}

.contato {
    background-color: #FCAB10;
    color: #010301;
    text-align: left;
    padding: 15px 30px;
}

.ctt {
    color: #010301;
}

.ctt:hover {
    background-color: #CC5803;
    color: #FEFEEE;
    font-weight: bold;
}



.instagram{
    color: #8C1C13;
    background-color: #FAFAFA;
    padding: 15px;
    padding-left: 50px;
}
.servicos {
    background-color: #FEFEEE;
    color: #010301;
    padding: 15px 30px;
}

.videos {
    background-color: #CC5803;
    color: #010301;
    padding: 15px 30px;
}




.img_container {
    width: 5rem;
    margin-bottom: 10px;
    text-align: center;
    

}

h3{
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    font-weight: bold;
    font-size: 1.4rem;

}

h5{
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.servicos_container {
    text-align: center;
    margin: 1.5rem;
}
.icone_contato a:hover {
    background-color: #6B0F1A;
    color: #E5c1bd
}

@media (max-width: 768px) {
    .navbar-nav {
        align-items: left !important;
    }
}
